<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sns.post.dao.PostMapper">
	<select id="selectPostList" resultType="map">
		SELECT
			*
		FROM
			`post`
	</select>
	
	<select id="selectPostByPostIdAndUserId" parameterType="map" resultType="com.sns.post.domain.Post">
		SELECT
			`id`
			,`userId`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`id` = #{postId}
			AND `userId` = #{userId}
	</select>
	
	<delete id="deletePostByPostIdAndUserId" parameterType="map">
		DELETE
 		FROM
 			`post`
 		WHERE
 			`id` = #{postId}
 			AND `userId` = #{userId}
	</delete>
</mapper>